{% extends "base.html" %}

{% block title %}
    Test
{% endblock %}

{% block header_name %}
    {{ post.title }}
{% endblock %}

{% block subheader_name %}
    Тут будут тэги
{% endblock %}

{% block content %}
  <!-- START: section -->
  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-6 col-xs-12 probootstrap-animate ">
          <div class="probootstrap-block-image">
            <figure><img src="{{ url_for('static', filename='img/img_3.jpg') }}" alt="postimage"></figure>
            <div class="text">
              <span class="date">{{ post.created }}</span>
              <p>{{ post.body }}</p>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
      </div>
    </div>
  </section>
  <!-- END: section -->
{% endblock %}